VITE_SUPABASE_URL=https://xboztqynrmuhyyecrcct.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhib3p0cXlucm11aHl5ZWNyY2N0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NjE4NTUsImV4cCI6MjA5MTAzNzg1NX0.xlI2sBLo-5YqbxhKLCdodWsmLxskgBYA9EElP_FE_wk